:lang(ar) {
    direction: rtl;
    font-family: Amiri, serif;
}

section{
    max-width: 1200px;
    margin: 0 auto;
}

article {
    line-height: 2.5em;
    font-size: 1.5em;
    padding: 1em;
    text-align: justify;
}

article header {
    text-align: center;
    /*padding: 0 0 1em 0;*/
}

article header * {
    line-height: 1;
    padding: 0;
    margin: 0;
}

article header h2 {
    font-size: 2em;
}

article h2 img{
    max-width: 100%;
    max-height: 90px;
}

article header h3 {
    font-size: 0.7em;
    color: #5C3219;
    font-weight: 300;
}

.bismillah{
    width: 240px;
    height: 55px;
    max-width: 100%;
    margin-top: 1em;
}

.verse {
    border-bottom: 1px dotted #5c1712;
}

.verse-count{
    margin: 0 0.5em;
    font-family: serif;
}

.verse-count span{
    font-family: serif;
}

.verse-count svg{
    height: 1.5em;
    width: 1em;
    vertical-align: middle;
}

.verse-count svg text{
    direction: ltr;
    fill: red;
}

.sajda {
    color: red;
}


footer {
    text-align: center;
    padding: 1em;
}

.nav .text{
    font-size: 0.8em;
    padding: 0 1em;
}
